[Desktop Entry]
Type=Application
Name=UxPlay (AirPlay Mirroring)
Comment=Click to enable/disable AirPlay mirroring. Icon is colored when running, grey when stopped.
Exec={{ uxplay_bin_dir }}/uxplay-toggle.sh
# uxplay-status-watch.sh switches this between uxplay-on.svg and uxplay-off.svg.
Icon={{ uxplay_icon_dir }}/uxplay-on.svg
Terminal=false
Categories=Utility;
